<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LiteTwitter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D13DE82621BB660000946ECA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D13DE83A21BB660300946ECA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D13DE84521BB660300946ECA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
